*.gif
core/.env
.env






core/account/__pycache__
core/account/migrations/__pycache__


core/api/__pycache__
core/api/migrations/__pycache__


core/cart/__pycache__
core/cart/migrations/__pycache__


core/payment/__pycache__
core/payment/migrations/__pycache__

core/project/__pycache__
core/project/migrations/__pycache__

core/recommend/__pycache__
core/recommend/migrations/__pycache__

core/shop/__pycache__
core/shop/migrations/__pycache__
core/shop/management/commands/__pycache__

core/static/admin/
core/static/drf-yasg/
core/static/rest_framework/




core/myenv/
myenv/


